{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'sublessons.js') }}"></script>
<script>
    let sublesson = {{sublesson|tojson}} 
    let lesson_id = {{lesson_id|tojson}}
    let images = {{images|tojson}}
    let options = {{options|tojson}}
    let completed = {{completed|tojson}}
    let images_text = {{images_text|tojson}}
    </script>
<br/>
    {% if lesson_id == "1" %}
    <div class="lesson-content row"></div>
    {% endif %}
    <div class="result">

    </div>
    <br>
    <div class="result-color row"></div>
    <br>
    <div class="footer"></div>

    <div>
{% endblock %}