{% extends "layout.html" %} {% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'home.js') }}"></script>

<div class="home-div">
<h3>Do your paintings look washed out? Muddy? Generally lackluster?</h3>

<img class="home-img"
  src="https://www.truevalue.com/media/magefan_blog/color-wheel-hero_1.jpg"
/>

<p>
  Click on the lessons above to learn how to avoid common paint mixing mistakes,
  and take the quiz when you’re ready.
</p>
<br/>
<br/>
<div><button id="learn-btn">Start Learning!</button></div>
</div>

{% endblock %}
