{% extends "layout.html" %} {% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'chroma.min.js') }}"></script>
<script>
    let lesson = {{lesson|tojson}} 
    let lesson_id = {{lesson_id|tojson}}
</script>
	<div class="lesson-div">
	<h2>{{lesson.title}}</h2>
	<br>
	<br>
	<p>{{lesson.text}}</p>
	<br>
	{% if "display_image" in lesson %}
	<img class="display-image" src="{{lesson.display_image}}"/> 
	{% endif %}
	<br>
	<br>
	<div class="row result-color">

	</div>
	<br>
	<div class="text-center footer"><button class="next-btn">Next</button></div>
	<div>

{% endblock %}