{% extends "layout.html" %} {% block content %}

<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'quizend.js') }}"
></script>

<script>
  let finalScore = {{finalScore|tojson}};
</script>

<div class="quiz-container">
  <h1 class="quiz-heading">Quiz</h1>

  <p>You scored: <b>{{finalScore}}%</b></p>
  <p class="resultmessage"></p>

  <div class="quiz-buttons">
    <button class="home-btn">Home</button>
    <a id="quiz-btn" href="/quiz">Retry the quiz</a>
  </div>
</div>
{% endblock %}
